<h2>Blog Posts ( <%= @blogposts.count %> )</h2>

<ol class="blogposts">
<% @blogposts.each do |blogpost| %>
<li>
  <span class="content"><%= blogpost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
  </span>
</li>
<% end %>
</ol>
<br />

<%= link_to 'New Blogpost', new_account_blogpost_path, class: "btn
                                                                 btn-large
                                                                 btn-primary" %>



