<h2> Manage Favorites </h2>
<div class = "well" >
  <h3>Showcases:</h3>
  <ol>
    <% @favorites.each do |favorite| %>
      <li>
        <% if  favorite.favoritable_type.to_s  == "Showcase" %>
          <% showcase = Showcase.find_by_id(favorite.favoritable_id)
             %>
          <p><h4>Name: <%= showcase.name %></h4></p>
          <% picture = showcase.cover_picture %>
          <% if picture %>
            <% if picture.image.present? %>
              <%= image_tag picture.image.url(:preview) %>
            <% end %>
          <% else %>
            <i> This showcase has no cover picture! </i>
          <% end %>
          <%= render "shared/showcase_favorites", :showcase => showcase %>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>

<div class = "well" >
  <h3>Pictures:</h3>
  <ol>
    <% @favorites.each do |favorite| %>
      <% if  favorite.favoritable_type.to_s  == "Picture" %>
        <li>

        </li>
      <% end %>
    <% end %>
  </ol>
</div>
