<div>
  <p>Relationship Stats</p>
  <strong id="following" class="stat">
    <%= account.followed_accounts.count %>
  </strong>
  following
  <strong id="followers" class="stat">
    <%= account.followers.count %>
  </strong>
  followers
</div>
