<div class="title-block clearfix">
	<p class="title"><span>Fashion alert</span> <a href="#">more</a></p>
</div>
<div class="fashion-box clearfix">
	<p class="f-title"><a href="#">Shop The Look: The Burgundy, Please</a></p>
	<p class="f-date">September 18, 201212:09 PM</p>
	<p class="f-content">When Alexander Wang sent his models down the Fall 2012 runway, he may have set  tone of the...</p>
</div>
<div class="fashion-box clearfix">
	<p class="f-title"><a href="#">On Our Radar: Betina Embellished T-Shirts</a></p>
	<p class="f-date">September 18, 201212:09 PM</p>
	<p class="f-content">When Alexander Wang sent his models down the Fall 2012 runway, he may have set  tone of the...</p>
</div>
<div class="fashion-box clearfix">
	<p class="f-title"><a href="#">See videos from the spring runaways 2013</a></p>
	<p class="f-date">September 18, 201212:09 PM</p>
	<div class="video-box">
		<a class="play" href="#">&nbsp;</a>
		<img src="/assets/video1.jpg" alt="#" />
	</div>
</div>
<div class="fashion-box clearfix">
	<p class="f-title"><a href="#">On Our Radar: Betina Embellished T-Shirts</a></p>
	<p class="f-date">September 18, 201212:09 PM</p>
	<p class="f-content">When Alexander Wang sent his models down the Fall 2012 runway, he may have set  tone of the...</p>
	<div class="img-box">
		<img src="/assets/sp1.jpg" alt="#" />
	</div>
</div>