<div class="news-block clearfix">
	<span class="news-title">News</span>
	<span class="news-date">September 18, 2012 12:09 PM</span>
	<span class="news-content">We have rolled out new functions today - showrooms and chat,</span>
	<a class="news-more" href="#">learn more</a>
</div>
 