<div class="showrooms-block clearfix">
	<div class="title-block clearfix">
		<p class="title"><span>showrooms</span> <a href="#">more</a></p>
		<div class="sort-block clearfix">
				<p>Show</p>
			<select data-placeholder="Most Popular" class="chzn-select" style="width:120px;" tabindex="3">
				<option value="">Most Popular</option> 
				<option value="most recent">most recent</option> 
				<option value="favorited">favorited</option> 
			</select>
		</div>
	</div>
	<div id="menu-slider" class="clearfix">
		<ul id="list-links">
			<li class="active">
				<p>Porta Nuova Geometrical Marni </p>
				<span>Few shows have better summed up the new geometry trend dominating the current fashion season than the sensitively architectural Marni spring 2013 collection, </span>
			</li>
			<li>
				<p>Bottega Veneta: Chic Yet Suggestive </p>
				<span>One cannot fault Bottega Veneta's creative director Tomas Maier for lack of clarity in his approach.</span>
			</li>
			<li>
				<p>Etro's Eastern Delight</p>
				<span>Stepping out of the box can be a nervy but liberating experience, which is what the latest catwalk show by Etro felt like, seeing that this spring 2013 </span>
			</li>
		</ul>
		<ul id="list-images">
			<li><img src="/system/pictures/15/preview_pc2.png" alt="#" /></li>
			<li><img src="/system/pictures/17/preview_pc4.png" alt="#" /></li>
			<li><img src="/system/pictures/18/preview_pc5.png" alt="#" /></li>
		</ul>
	</div>
</div>
