<div class="showcase-block clearfix">
	<div class="title-block clearfix">
		<p class="title"><span>Showcase</span> <a href="#">more</a></p>
		<div class="sort-block clearfix">
			<p>Show</p>

			<select data-placeholder="Most Popular" id="showcase_filter" class="chzn-select" style="width:120px;" tabindex="1">
				<option value="popular">Most Popular</option>
				<option value="updated_at">Most recent</option>
				<option value="favorited">favorited</option>
			</select>
		</div>
	</div>

	<div id="showcase_box">
		<%= render "showcase", :home_showcases => @public_showcases %>
	</div>
</div>
