<p><%= t('devise.mailer.reset_password_instructions.greeting', :username => @resource) %></p>

<p><%= t('devise.mailer.reset_password_instructions.description') %></p>

<p><%= link_to t('helpers.actions.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.note') %></p>
