<div class="well">
  <h2>My Showcases</h2>
  <% showcase = @profile.account.default_showcase %>
  <%= render "showcase", :showcase => showcase %>
  <%= render 'shared/showcase_favorites', :showcase => showcase %>
  <% if @profile.account.non_default_showcases.any? %>
    <ol class="showcases">
      <% @profile.account.showcases.each do |showcase| %>
        <li>
          <%= render "showcase", :showcase => showcase %>
        </li>
      <% end %>
    </ol>
    <br />
  <% end %>

  <% if is_current_profile?(@profile) %>
    <% if current_account.can_create_additional_showcases? %>
      <%= link_to 'New Showcase', new_showcase_path, class: "btn
                                                                 btn-large
                                                                 btn-primary" %>
    <% end %>
  <% end %>
</div>
