<div class="well">
  <h2>My Showcases</h2>
  <% if @profile.account.showcases.any? %>
    <ol class="showcases">
      <% @profile.account.showcases.each do |showcase| %>
        <li>
          <span class="content"><h4><%=link_to showcase.name, showcase %></h4></span>
          <span class="content"><%= showcase.content %></span>
          <span class="timestamp">
            Posted <%= time_ago_in_words(showcase.created_at) %> ago.
          </span>
        </li>
      <% end %>
    </ol>
    <br />
  <% end %>
  <%= link_to 'New Showcase', new_showcase_path, class: "btn
                                                                 btn-large
                                                                 btn-primary" %>
</div>
