<ol>
  <h3> Invited to view? </h3>
  <% Account.all.each do |acc| %>
    <% if acc.id != current_user.id %>
      <li>
        <%= acc.username %>
        <% if picture.has_invitee? acc %>
          User is already invited!
        <% else %>
          User is not allowed to see this!
        <% end %>
      </li>
    <% end %>
  <% end %>
</ol>

