<div id="pictures">
  <% if pictures.present? %>
    <h2 class="header"><%= t('account.pictures.list.title') %>: <%= link_to t('helpers.actions.add_more_pictures'), new_account_picture_path, :class => 'btn btn-primary', :remote => true %></h2>
    <% pictures.each do |picture| %>
      <%= render 'account/pictures/picture', :picture => picture %>
    <% end %>
  <% else %>
    <%= render 'account/pictures/form', :picture => Picture.new %>
  <% end %>
</div>