<div id="pictures">
  <% if pictures.present? %>
    <h2 class="header"><%= t('account.pictures.list.title') %>:</h2>
    <% pictures.each do |picture| %>
      <%= render 'account/pictures/picture', :picture => picture, :like => likes[picture.id], :likes_count => likes_count[picture.id] %>
    <% end %>
  <% else %>
    <%= render 'account/pictures/form', :picture => Picture.new %>
  <% end %>
</div>
