<p><%= t('devise.mailer.confirmation_instructions.greeting', :username => @resource) %></p>

<p><%= t('devise.mailer.confirmation_instructions.description') %></p>

<p><%= link_to t('devise.mailer.confirmation_instructions.confirm_my_account'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
