<li>
  <span class="content"><%= @profile.account.micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@profile.account.micropost.created_at) %> ago.
  </span>
</li>
