/*
 *= require_self
 *= require jquery.ui.all
 */

@import "bootstrap";
@import "font-awesome";
@import "compass/css3";
@import "layout";
@import "forms";

.search-form {
  margin: 10px;
}

.pagination {
  float: left;
  margin-left: 10px;
}

.page-size {
  float: left;
  margin: 22px 0;
}