/*
 *= require_self
 *= require jquery.ui.all
 */

@import "themes/united/united";
/* 
 @import "bootstrap";
 */
   
@import "font-awesome";
@import "compass/css3";
@import "layout";
@import "forms";
@import "account/profiles";
@import "account/comments";
@import "font";
@import "home";
@import "account/sign_up";
@import "galleries";

.clearer {
  clear: both;
}

.social-media {
  border-top: 1px solid #ddd;
  padding-top: $baseLineHeight / 2;

  a {
    display: inline-block;
    margin-left: 10px;
  }
}

#latest_pictures {
  .picture {
    float: left;
    width: 215px;
    margin: 10px;
    background: #ddd;
    text-align: center;
    @include border-radius(5px);

    &.first {
      margin-left: 0;
    }

    img {
      border: 1px solid #aaa;
      background: #fff;
    }

    .title {
      text-align: center;
      margin: 5px 0;
    }

    .author {
      text-align: center;
      margin: 5px 0;
    }
  }
}

.comments-box {
    clear: both;
    padding: 40px 20px;

    .comment-form {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;

        .author {
            float: left;
            width: 100px;
            margin-right: 20px;
            text-align: center;
        }

        .body {
            float: left;
            width: 740px;

            textarea {
                width: 720px;
                min-width: 720px;
                max-width: 720px;
            }

            .actions  {
                width: 728px;
                margin: 0;
                padding: 4px;

                .btn {
                    float: right;
                }
            }
        }
    }

    .comments {
        margin-top: 40px;

        .comment {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;

            .author {
                float: left;
                width: 100px;
                margin-right: 20px;
                text-align: center;
            }

            .body {
                float: left;
                width: 740px;
            }
        }
    }
}