/*
 *= require_self
 *= require jquery.ui.all
 */

@import "themes/united/united";
@import "_bootstrap.scss";
@import "compass/css3";
@import "layout";
@import "forms";

.social-media {
  border-top: 1px solid #ddd;
  padding-top: $baseLineHeight / 2;

  a {
    display: inline-block;
    margin-left: 10px;
  }
}

.profile {
  .edit-profile {
    float: left;
    clear: both;
    margin-top: 10px;
  }

  .blank {
    color: #aaa;
  }

  .avatar {
    float: left;
    width: 100px;
    margin: 0 20px;
  }

  .details {
    float: left;
    width: 200px;
    margin: 0 20px;
  }

  .about {
    float: right;
    width: 400px;
    margin: 0 20px;
    padding: 20px 20px;
    background: #D9EDF7;
    @include border-radius(5px);

    a.edit {
      float: right;
      margin: -15px -15px 0 0;
    }
  }

  .pictures {
    .drop-zone {
      height: 200px;
      border: 5px #aaa dashed;
      margin: 20px;
      text-align: center;
      font-size: 30px;
      line-height: 200px;
    }

    input.hidden-file-upload {
      width: 100%;
      height: 200px;
      margin-top: -250px;
      cursor: pointer;
      @include opacity(0);
      outline: none;
    }
  }
}