/*
 *= require_self
 *= require jquery.ui.all
 */

@import "themes/united/united";
@import "bootstrap";
@import "font-awesome";
@import "compass/css3";
@import "layout";
@import "forms";
@import "account/profiles";
@import "account/comments";

.clearer {
  clear: both;
}

.social-media {
  border-top: 1px solid #ddd;
  padding-top: $baseLineHeight / 2;

  a {
    display: inline-block;
    margin-left: 10px;
  }
}

#latest_pictures {
  .picture {
    float: left;
    width: 215px;
    margin: 10px;
    background: #ddd;
    text-align: center;
    @include border-radius(5px);

    &.first {
      margin-left: 0;
    }

    img {
      border: 1px solid #aaa;
      background: #fff;
    }

    .title {
      text-align: center;
      margin: 5px 0;
    }

    .author {
      text-align: center;
      margin: 5px 0;
    }
  }
}