.input-signup {
  border:none;
  background-color: #fff;
  padding:0 10px;
  width:371px;
  height:26px;
  line-height:26px;
  color: #656669;
  font-size: 14px;
  font-family: 'Orienta', sans-serif;
} 
select.date {
  width: 117px;
}