<div id='visuals' class='slide-carousel'>
	<div class='carousel-wrapper'>
		<ul>
			<li><a href='#'><%=  image_tag("slider_img.jpg") %>	<span><strong>Mango <br/>	Fall-Winter 2012</strong></span></a></li>
			<li><a href='#'><%=  image_tag("slider_img.jpg") %> <span><strong>Crazy discounts at Zara</strong></span></a></li>
			<li><a href='#'><%=  image_tag("slider_img.jpg") %> <span><strong>Diesel <br/> Global warming ready </strong></span></a></li>
			<li><a href='#'><%=  image_tag("slider_img.jpg") %> <span><strong>Louis Vuitton  special offer</strong></span></a></li>
		</ul>
	</div>
	<div class="nav"><a id='carouselPrevious' href='#'><b></b><span>Previous</span></a> <a id='carouselNext' href='#'><b></b><span>Next</span></a></div>
</div>
 
<div class="slider-nav-holder">
	<div class="slider-nav clearfix">
		<a class="slide-carousel-btn1 slide-carousel-btn" onclick="jQuery('.slide-carousel').trigger('goto', 1);">Mango Fall-Winter 2012</a>
		<a class="slide-carousel-btn2 slide-carousel-btn" onclick="jQuery('.slide-carousel').trigger('goto', 2);">Crazy discounts at Zara</a>
		<a class="slide-carousele-btn3 slide-carousel-btn" onclick="jQuery('.slide-carousel').trigger('goto', 3);">Diesel global warming ready</a>
		<a class="slide-carousel-btn4 slide-carousel-btn" onclick="jQuery('.slide-carousel').trigger('goto', 4);">Louis Vuitton special offer</a>
	</div>
</div>
 