<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
  <i class="icon-user"></i> <%= current_affiliate %> <b class="caret"></b>
</a>
<ul class="dropdown-menu">
  <li><%= link_to t('helpers.actions.change_password'), edit_affiliate_registration_path %></li>
  <li><%= link_to t('helpers.actions.sign_out'), destroy_affiliate_session_path, :method => 'delete' %></li>
</ul>